<!-- tells jinja that this template should replace the blocks from base template -->
{% extends 'base.html' %}

<!-- embedding the header block in the title block will set
     the title block and then output the value of it into the header block
     so that both the window and page share the same title without writing
     it twice
-->
{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Register">
  </form>
{% endblock %}